
# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar
**/logs/
**/*.log
**/*.tmp
**/*.bak
**/*.swp

# Eclipse
.classpath
.project
.settings/
.factorypath

# IntelliJ IDEA
*.iml
.idea/
out/

# VS Code
.vscode/

# Test/coverage reports
*.exec
*.coverage
*.ec
*.xml
*.txt
*.csv
*.html
jacoco.exec
site/
surefire-reports/

# OS files
.DS_Store
Thumbs.db

# Others
*.jar
*.war
*.ear